:root {
  --white: #f1f0ec;
  --teal: rgb(34, 42, 55);
}
* {
  box-sizing: border-box;
  text-decoration: none;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  /*	cursor: none !important;*/
}
canvas {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.p5Canvas {
  display: none;
}
main:not(.barba) {
  display: none;
}
