[class^="cursor"]{
	position: fixed;
	top: -50%;
	left: 0;
	translate: -50% -50%;
	border-radius: 50%;
	z-index: 9999;
	pointer-events: none;
	cursor: none;
}
.cursor-outer{
	width: 30px;
	height: 30px;
	border: 1px solid var(--t);
	background-color: var(--t);
	pointer-events: none;
	cursor: none;
	mix-blend-mode: difference;
	transition: scale .5s cubic-bezier(.01,1.62,.63,.79);
}
.cursor-outer p{
	position: fixed;
	display: inline;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	text-align: center;
	font-family: Fontt2;
	font-size: .5rem;
	font-weight: bold;
	line-height: 1.4;
	color: black;
	scale: 0;
	transition: scale .1s cubic-bezier(.01,1.62,.63,.79);
}
.navigation{
	position: fixed;
	z-index: 100;
}
.navi-fragment {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	margin: 0px;
	list-style-type: none;
	padding: 50px 3vw 0px 3vw;
	z-index: 100;
	pointer-events: none;

	& > * a{
		pointer-events: auto;
	}

	& li {
		position: relative;
		margin: 0px 8px;
		pointer-events: none;

		& a {
			color: var(--white);
		}
	}
	& li:first-child{
		margin-left: 0px;
	}
	& li.denominations{
		margin-left: auto;
		margin-right: 0px;
	}

	& li.cart{
		position: absolute;
		bottom: 50px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.custom-fragment{
		position: absolute;
		display: flex;
		flex-direction: row;
		top: 50%;
		translate: 0 -50%;

		.lg-fragment {
			overflow: hidden;

			& a{
				width: 215px;
				display: flex;
				flex-direction: row;

				& span{
					position: relative;
					transition: all .5s cubic-bezier(.45,0,.56,.84);

					& svg{
						width: 100%;
						fill: var(--white);
						margin: 0px;
					}
				}
				& span.logo{
					margin-top: auto;
					margin-bottom: auto;
				}
				& span.logo-sml{
					margin-left: 30px;
				}
				.logo{
					width: 200px;
				}
				.logo-sml{
					width: 28px;
					height: auto;
					transition-delay: 0s;
				}
			}
		}
	}
	&.top{
		& a{
			color: black !important;
		}
		.custom-fragment{
			& a {
				& span{
					& svg{
						fill: black;
					}
				}
			}
		}
	}
}
.lg-at-small{

	.custom-fragment {

		& span.logo{
			transform: translateX(-200px);
		}
		& span.logo-sml{
			transform: translateX(-210px);
			transition-delay: 1s;
		}
	}
}
.lg-at-small.hover-to-big{

	.custom-fragment {

		& span.logo{
			transform: translateX(0px);
		}
		& span.logo-sml{
			transform: translateX(0px);
		}
	}
}

.navigation .top{
	-webkit-clip-path: var(--polygon);
	clip-path: var(--polygon);
}

.footer{
	position: relative;
	display: block;
	width: 100%;
	z-index: 1;

	& p, & a{
		display: inline-block;
		margin: 0;
		color: var(--white);
	}


	.footer-position{
		position: sticky;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		top: 45vh;
		width: 100%;
		height: 55vh;
		background-color: black;
		padding: 4.5vh 0 50px 58vw;

		.shop-follow{

			.shop-tag{
				display: block;
				list-style-type: none;
				margin: 0;
				padding: 0;

				& li a:after{
					content: "";
					position: relative;
					display: block;
					width: 0%;
					height: 1px;
					border-radius: 10px;
					background-color: var(--white);
					transform-origin: bottom right;
					transition: all 0.2s ease-in-out;
				}
				& li a:hover:after{
					width: 100%;
					transform-origin: bottom left;
				}
			}

			.follow-tag{
				display: flex;
				flex-direction: column;

				.author-tag{
					display: none;
				}
			}
		}

		.subscrible{

			.subscrible-tag{
				display: flex;
				border-bottom: 2px solid var(--white);
				padding-bottom: 10px;

				& input{
					background-color: transparent;
					width: 100%;
					border: none;
					color: var(--white);
					font-size: 10px;
				}
				& input::placeholder{
					color: var(--white);
				}
				& input:valid, & input:focus{
					border: none;
					stroke: none;
					outline: none;
				}
				& button{
					background-color: transparent;
					font-size: 10px;
					margin-left: 10px;
					border: none;
					color: var(--white);
				}
			}

		}
		.shop-follow, .subscrible{
			display: flex;
			gap: 5vw;
		}
		.shop-tag, .subscrible-tag{
			width: 18vw;
		}
	}
}

@media (max-width: 1000px) {
	.navi-fragment{
		& li.denominations {
			margin-right: 8px;
		}
		& li.cart {
			position: static;
			margin-left: 8px;
		}
	}

	.footer-position{
		padding-left: 5vw !important;
		padding-right: 5vw !important;
		.shop-follow{
			width: 100%;
			padding-top: 150px;
			gap: 10vw !important;

			.shop-tag{
				width: 100%;

				& li{
					margin-bottom: 10px;
				}
			}
			.follow-tag{
				width: 100%;

				& p{
					margin-bottom: 10px;
				}
				.author-tag{
					font-size: 10px;
					margin-top: 25px;
					display: block !important;
				}
			}
		}
		.subscrible{
			.subscrible-tag{
				width: 100%;
			}
			.author-tag{
				display: none !important;
			}
		}
	}
}

#container{
	position: relative;
	width: 100%;
	z-index: 2;
}
























